* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.readMoreInfo, .readLessInfo {
    cursor: pointer;
    color: #fdcb67;
}

.moreText {
    display: none;
}

.boutUsHold {
    display: flex;
    width: 100%;
    background-image: url('img/repeatingBarley.jpg');
    background-size: 192px;
    background-blend-mode: multiply;
    background-color: rgb(82, 62, 25);
    border-radius: 20px;
    max-width: 100%;
    margin: auto;
    color: wheat;
    line-height: 2;
    padding: 1% 1%;
}

.boutUs {
    max-width: 30%;
    margin:0 auto;
    color: wheat;
    line-height: 2;
    padding: 1% 1%;
}



.screenWidth {
    max-width: 1100px;
}

.textWidth {
    width: 80%;
}

.headerImage {
    width: 100%;
    background-image: url("https://images.wallpaperscraft.com/image/wheat_spikelets_field_144604_1920x1080.jpg");
}

body > .slideHolder {
    /*background-color: rgba(80, 52, 0, 0.5);*/
    height: 100%;
}

.clear {
    clear: both;
}

nav {
    background-image: url("img/repeatingBarley.jpg");
    background-size: 25%;
    background-blend-mode: soft-light;
    background-color: hsla(41, 43%, 35%, 0.767);
    border-radius: 0 0 100px 100px;
    padding: 5px 0;
    width: 100vw;
    max-width:100%;
    align-items: center;
    
}

.middle {
    margin: auto;
    width: 1100px;
}

nav > .middle > .left {
    display: flex;
}

nav > .middle > .left > a > img {
    width: 100px;
    float:left;
}

nav > .middle > .left > a {
    text-decoration-style: double;
    text-decoration-color: #fdcb67;
    color: #141414;
    font-size: 36px; 
}

nav > .middle > .left > a > h1{
    margin-bottom: 14px;
    padding-top: 14px;
}

nav > .middle > .right {
    float:right;
    margin-top: -58px;
    padding: 5px 0px 4.8px 0px;
}

nav > .middle > .right > ul {
    display:flex;
    font-size:20px;
}

nav > .middle > .right > ul > li{
    display:inline;
	padding:0 10px 0 10px;
	font-size:20px;
    
}

nav > .middle > .right > ul > li > a{
    text-decoration: none;
    color: #141414;
    padding: 5px;
}

nav > .middle > .right > ul > li > a:hover{
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    padding: 5px;
    border-radius: 6px;
}

nav > .middle > .right > ul > li > .current_page{
    text-decoration: none;
    color: #fdcb67;
    font-weight: bold;
    padding:5px;
    background-color: hsl(0, 0%, 19%);
    border-radius: 6px;
    font-weight: 400;
}

.darkmode > img {
    max-width: 18px;
    margin-top:-6px;
}

.night_mode {
    background-color: rgb(68, 69, 82);
}

form {
    color:#ac8a48;
    padding:20px;
    width: 240px;
    border: solid 2px #1c1c1c;
    background-image: url('img/repeatingBarley.jpg');
    background-size: 192px;
    background-blend-mode: multiply;
    background-color: rgb(82, 62, 25);
    border-radius: 40px;
}

.orderForm {
    width: fit-content; 
    height: 346px; 
}

form > input {
    padding:4px;
    display: block;
    border:solid 2px rgb(41, 41, 41);
    border-radius: 4px;
    width: 200px;
    color: #ac8a48;
    background: #1c1c1c;
}

.inph {
    padding:4px;
    display: block;
    border:solid 2px rgb(108, 158, 204);
    border-radius: 4px;
}

textarea {
    resize: none;
    min-width: 200px;
    min-height: 100px;
    max-width: 200px;
    max-height: 100px;
    display: block;
    border:solid 2px rgb(41, 41, 41);
    border-radius: 4px;
    padding:4px;
    color: #ac8a48;
    background: #1c1c1c;
}

form > button {
    margin: auto;
    display: block;
    padding:0px 8px;
    border:solid 1px rgb(41, 41, 41);
    border-radius: 3px;
    margin-top:20px;
    font-size: 30px;
    color: wheat;
    background-color: rgb(75, 131, 39);

}

form > label {
    padding-top: 6px;
    display: block;
    font-size: 12px;
}

form > .indd {
    display: inline;
}

form > .iddc {
    display: inline;
    max-width: 10px;
}

.disnon {
    display: none;
}

.divisionLine {
    width: 100%;
    height: 100px;
    /*background-color: #bb964b;*/
    border-radius: 40px 40px 0 0;
}

.slideHolder {
    padding: 40px 0;
}

.backgroundd {
    background-image: url("img/repeatingBarley2.jpg");
    background-size: 50%;
    background-color: rgb(51, 34, 23);
    background-blend-mode: multiply;
    background-position-x: 7%;
}

.displayHolderOne {
    width: 100%;
    display: flex;
}

.innerHolder {
    width: 50%;
    padding: 4%;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 100%;
    
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer > img {
    width: 100%;
    display: block;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer > .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(187,150,75,0.75) 0%, rgba(187,150,75,0.5) 75%, rgba(187,150,75,0.25) 100%);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer:hover > .overlay {
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer > .overlay > .text {
    white-space: nowrap;
    color: white;
    font-size: 22px;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer > .overlay > .text1 {
    color: white;
    font-size: 24px;
    padding: 20px 80px;
    line-height: 3;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer:hover > .overlay {
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer:hover > .overlay::-webkit-scrollbar {
    display: none;
}

.slideHolder > .displayHolderOne > .innerHolder > .displayer:hover > img{
    height: 100%;
}

.hmm::-webkit-scrollbar {
    display: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

:-moz-any(#content,#appcontent) browser{
    margin-right:-14px!important;
    overflow-y:scroll;
    margin-bottom:-14px!important;
    overflow-x:scroll;
}
.hold_text {
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    /*background-color: #7e6533;*/
    width: 100%;
}

.hold_text > .attention_text {
    white-space: nowrap;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    padding: 0px 0 30px 0;
    font-weight: bold;
    width: 90%;
    color: #ac8a48;
}

.spacious {
    text-align: center;
    width: 100%;
    background-color: #46739150;
    padding: 400px 0;
}

.spacious > p {
    margin: 0 auto;
    font-size: 36px;
    color: white;
    max-width: 1100px;
}

.press:hover{
    cursor: pointer;
}

.press {
    background-color: rgba(0, 65, 186, 0.329);
    border-radius: 4px;
    width: 124px;
    padding:4px;
}

.press1 {
    font-size: 24px;
    background-color: rgba(17, 75, 0, 0.76);
    border-radius: 4px;
    width: 140px;
    margin: 0 auto;
}

.press1:hover{
    cursor: pointer;
}

.slider {
    margin: 100px auto 0 auto;
    max-width: 1100px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 10px 6px black);
    animation: drop 1.5s ease;
}

.slides {
    list-style: none;
    display: flex;
    width: 6000px;
    margin: 0;
    padding: 0;
    transition: .5s ease;
}

.slider > .slides > .slide > img {
    margin: 0;
    float:left;
    list-style-type: none;
}



.slider > .rightarr{
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translate(-50%, -50%);
    max-height: 64px;
    border-radius: 20px 0 0 20px;
}

.slider > .leftarr{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    max-height: 64px;
    border-radius: 0 20px 20px 0;
}

.slider > .rightHalf{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.slider > .leftHalf{
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.slider > img:hover{
    cursor: pointer;
}

.nib {
    display:none;
}

.threeLines {
    color: white;
    font-size: 60px;
    line-height: 8px;
    display: none;
}

.scrollNo{
    overflow: hidden;
}

.lll {
    margin-top: 10%;
}

.sss {
    margin-top: -10%;
}

.social {
    width: fit-content;
    float: right;
    padding:20px 60px;
    background-image: url('img/repeatingBarley.jpg');
    background-size: 192px;
    background-blend-mode: multiply;
    background-color: rgb(82, 62, 25);
    border-radius: 0 0 0 40px;
}

.social > .socialUL > li{
    display: inline;
    list-style: none;
    padding: 0 12px;
    
}

.social > .socialUL > li > a > img{
    width:32px;
}

footer {
    background-color: #141414;
    text-align: center;
    padding: 20px 0;
}

footer > p {
    color: #fdcb67;
}

.shopText {
    color: #141414;
    padding: 10% 0;
}

.shopItems {
    height: fit-content;
    padding: 30px 0;
}

.wideBox {
    width:100%;
    display:flex;
}

.wideBox > .breadContainer {
    width: 25%;
    text-align: left;
    margin: 30px auto 30px auto;
    background-image: url('img/repeatingBarley.jpg');
    background-size: 192px;
    background-blend-mode: multiply;
    background-color: rgb(82, 62, 25);
    border-radius: 40px;
    padding: 20px;
    filter: drop-shadow(0px 10px 6px black);
}

.wideBox > .breadContainer > h3 {
    color: #ac8a48;
    padding: 4px 0;
}

.addToCart1, .addToCart2, .addToCart3, .addToCart4, .addToCart5, .addToCart6 {
    margin: 10px 0 0 10px;
    cursor: pointer;
}

.wideBox > .breadContainer > .addToCart1, .addToCart2, .addToCart3, .addToCart4, .addToCart5, .addToCart6 > h2 {
    width: fit-content;
    padding: 4px 10px;
    background: #1c1c1c;
    border-radius: 5px;
    color: #cfa859;
    cursor: pointer;
}

.wideBox > .breadContainer > p {
    font-size: 14px;
    color: wheat;
}

.wideBox > .breadContainer > img{
    width: 100%;
    text-align: left;
    border-radius: 20px;
    border: solid 2px #1c1c1c;
}

.shoppingArea {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
}

.shoppingArea > .cartArea {
    margin-right: 5%;
    width: max-content;
    border: solid 2px #1c1c1c;
    padding: 20px;
    height: 346px;
    background-image: url('img/repeatingBarley.jpg');
    background-size: 192px;
    background-blend-mode: multiply;
    background-color: rgb(82, 62, 25);
    border-radius: 40px;
    width: 100%;
}

.items {
    width: 100%;
    background: #1c1c1c;
    float:left;
    border: solid 2px #1c1c1c;
    padding: 4px;
    display: flex;
    margin-bottom: 4px;
    border-radius: 5px;
}

.shoppingArea > .cartArea > .items > .leitHalf > .nameOfTheBread{
    color: #1c1c1c;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    display: flex;
    margin-right: 30vw;
    color: #cfa859;
}

.leitHalf, .raitHalf {
    width: 50%;
}

.numberz {
    float: right;
    
}

span {
    cursor:pointer; 
}

.minus, .plus {
	width:20px;
	height:20px;
	color: #cfa859;
    background-color: #242424;
	border-radius:4px;
	border:1px solid #cfa859;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
    
.numberz > input {
	height:34px;
    width: 100px;
    text-align: center;
    color: #cfa859;
    background-color: #242424;
    font-size: 26px;
	border:1px solid #cfa859;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

.removeItem {
    padding: 4px 4px 0 14px;
}
.removeItem > p{
    color: #cfa859;
    cursor: pointer;
}

@media screen and (max-width: 1307px) {
    nav {
        background-color: hsla(41, 43%, 35%, 0.767);
        border-radius: 0;
        padding: 5px 100px;
        width: 100vw;
        max-width:100%;
        align-items: center;
    }
    .middle {
        margin: auto;
        width: 100%;
        padding-bottom: 4px;
    }

    .wideBox  {
        display:flex;
        flex-direction: column;
    }

    .wideBox > .breadContainer {
        width: 90%;
        text-align: left;
        margin: 30px auto 30px auto;
        background-image: url('img/repeatingBarley.jpg');
        background-size: 192px;
        background-blend-mode: multiply;
        background-color: rgb(82, 62, 25);
        border-radius: 40px;
        padding: 20px;
        filter: drop-shadow(0px 10px 6px black);
    }

    .shopItems {
        width: 100%;
        height: fit-content;
        padding: 30px 0;
        display: flex;
    }
}

@media screen and (max-width: 1207px) {
    .divisionLine {
        border-radius: 0;
    }
}

@media screen and (max-width: 1120px) {
    .slideHolder > .displayHolderOne > .innerHolder > .displayer > .overlay > .text {
        white-space: nowrap;
        color: white;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .screenWidth {
        max-width: 100vw;
    }

    .textWidth {
        max-width: calc(100vw - 22.22%);
    }

    .nib {
        display:block;
    }
    
    nav {
        background-color: hsla(41, 43%, 35%, 0.767);
        border-radius: 0;
        padding: 5px 100px;
        width: 100vw;
        max-width:100%;
        align-items: center;
    }
    
    .middle {
        margin: auto;
        width: fit-content;
        padding-bottom: 4px;
    }
    
    nav > .middle > .left {
        display: block;
    }
    
    nav > .middle > .left > a {
        text-decoration-style: double;
        text-decoration-color: #fdcb67;
        color: #141414;
        font-size: 36px; 
    }
    
    nav > .middle > .left > a > h1{
        margin-bottom: 14px;
        padding-top: 14px;
        text-align: center;
    }
    
    nav > .middle > .right {
        margin-top: 0;
        padding: 5px 0px 4.8px 0px;
    }

    .slideHolder {
        padding: 40px 0;
    }

    .backgroundd {
        background-image: url("img/repeatingBarley2.jpg");
        background-size: 50%;
        background-color: rgb(51, 34, 23);
        background-blend-mode: multiply;
        background-position-x: 0;
    }

    .innerHolder {
        width: 100%;
        padding: 4% 16%;
        display: flex;
        flex-direction: column;
        float: left;
    }

    .lll {
        margin-top: 0;
    }

    .sss {
        margin-top: 0;
    }

    .displayHolderOne {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .shoppingArea {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
        display: flex;
    }

}

@media screen and (max-width: 310px) {.fix {margin: 40px 0 0 0;}}

@media screen and (max-width: 1007px) {

    .wideBox  {
        display:flex;
        flex-direction: column;
    }

    .wideBox > .breadContainer {
        width: 90%;
        text-align: left;
        margin: 30px auto 30px auto;
        background-image: url('img/repeatingBarley.jpg');
        background-size: 192px;
        background-blend-mode: multiply;
        background-color: rgb(82, 62, 25);
        border-radius: 40px;
        padding: 20px;
        filter: drop-shadow(0px 10px 6px black);
    }

    .shopItems {
        width: 100%;
        height: fit-content;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .shoppingArea {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .orderForm {
        width: 100%; 
        height: 346px; 
        margin: 20px 0;
    }
    
    form {
        width: 60%;
        margin: 10px auto 0 auto;
    }
    
    form > input {
        padding:4px;
        display: block;
        border:solid 2px rgb(41, 41, 41);
        border-radius: 4px;
        width: 100%;
        color: #ac8a48;
        background: #1c1c1c;
    }
    
    .inph {
        padding:4px;
        display: block;
        border:solid 2px rgb(108, 158, 204);
        border-radius: 4px;
    }
    
    textarea {
        resize: none;
        min-width: 100%;
        min-height: 100px;
        max-width: 100%;
        max-height: 100px;
        display: block;
        border:solid 2px rgb(41, 41, 41);
        border-radius: 4px;
        padding:4px;
        color: #ac8a48;
        background: #1c1c1c;
    }
    
    form > button {
        margin: auto;
        display: block;
        padding:0px 8px;
        border:solid 1px rgb(41, 41, 41);
        border-radius: 3px;
        margin-top:20px;
        font-size: 30px;
        color: wheat;
        background-color: rgb(75, 131, 39);
    
    }
    
    form > label {
        padding-top: 6px;
        display: block;
        font-size: 12px;
    }
    
    form > .indd {
        display: inline;
    }
    
    form > .iddc {
        display: inline;
        max-width: 10px;
    }

}
@media screen and (max-width: 476px) {
    .items {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .raitHalf, .leitHalf {
        width: fit-content;
    }

    .shoppingArea > .cartArea {
        margin-right: 5%;
        width: max-content;
        border: solid 2px #1c1c1c;
        padding: 20px;
        min-height: 260px ;
        height: fit-content;
        background-image: url('img/repeatingBarley.jpg');
        background-size: 192px;
        background-blend-mode: multiply;
        background-color: rgb(82, 62, 25);
        border-radius: 40px;
        width: 100%;
    }

    .shoppingArea > .cartArea > .items > .leitHalf > .nameOfTheBread {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        display: flex;
        margin-right: 0;
        color: #cfa859;
    }

    .removeItem {
        padding: 4px 4px 0;
    }

    .orderForm {
        width: 100%; 
        height: 346px; 
        margin: 20px 0;
    }
    
    form {
        width: 90%;
        margin: 10px auto 0 auto;
    }
    
    form > input {
        padding:4px;
        display: block;
        border:solid 2px rgb(41, 41, 41);
        border-radius: 4px;
        width: 100%;
        color: #ac8a48;
        background: #1c1c1c;
    }
    
    .inph {
        padding:4px;
        display: block;
        border:solid 2px rgb(108, 158, 204);
        border-radius: 4px;
    }
    
    textarea {
        resize: none;
        min-width: 100%;
        min-height: 100px;
        max-width: 100%;
        max-height: 100px;
        display: block;
        border:solid 2px rgb(41, 41, 41);
        border-radius: 4px;
        padding:4px;
        color: #ac8a48;
        background: #1c1c1c;
    }
    
    form > button {
        margin: auto;
        display: block;
        padding:0px 8px;
        border:solid 1px rgb(41, 41, 41);
        border-radius: 3px;
        margin-top:20px;
        font-size: 30px;
        color: wheat;
        background-color: rgb(75, 131, 39);
    
    }
    
    form > label {
        padding-top: 6px;
        display: block;
        font-size: 12px;
    }
    
    form > .indd {
        display: inline;
    }
    
    form > .iddc {
        display: inline;
        max-width: 10px;
    }
}


@media screen and (max-width: 684px) {

    nav {
        background-color: hsla(41, 43%, 35%, 0.767);
        border-radius: 0;
        padding: 5px 0px;
        width: 100vw;
        max-width:100%;
    }

    nav > .middle > .left > a > h1{
        padding: 20px 100px 0 20px;
        font-size: 36px;
    }
    
    .slideHolder > .displayHolderOne > .innerHolder > .displayer > .overlay > .text {
        white-space: nowrap;
        color: white;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    nav > .middle > .right > ul {
        display: none;
        font-size:20px;
        float:left;
        text-align: center;
    }

    .menuUL {
        position: absolute;
        z-index:1000;
        bottom: 0;
        left: 0;
        right: 0;
        top: 111px;
        background-color: hsla(41, 43%, 35%, 0.9);
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        line-height: 30vh;
    }

    nav > .middle > .right > ul > p {
        display:none;
    }

    nav > .middle > .right > ul > li{
        display: block;
        padding:0 2px 0 2px;
        font-size:20px;
    }
    nav > .middle > .left > a {
        text-decoration-style: double;
        text-decoration-color: #fdcb67;
        color: #141414;
        font-size: 28px; 
    }

    .threeX {
        margin-top: -51px;
        color: #141414;
        font-size: 60px;
        line-height: 16px;
        display: block;
        cursor: pointer;
        margin-right: 34px;
        padding-top: 4px;
    }

    .threeLines {
        margin-top: -61px;
        color: #141414;
        font-size: 120px;
        line-height: 16px;
        display: block;
        cursor: pointer;
        padding-right: 20px;
    }

    
}

@media screen and (max-width: 432px) {

    .threeLines {
        margin-top: -61px;
        color: #141414;
        font-size: 120px;
        line-height: 16px;
        display: block;
        cursor: pointer;
        padding-right: 20px;
    }

}

@media screen and (max-width: 416px) {

    .threeLines {
        margin-top: -61px;
        color: #141414;
        font-size: 120px;
        line-height: 16px;
        display: block;
        cursor: pointer;
        padding-right: 20px;
    }

    .threeX {
        margin-top: -50px;
        color: #141414;
        font-size: 60px;
        line-height: 16px;
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 347px) {

    .threeLines {
        margin-top: -92px;
        color: #141414;
        font-size: 120px;
        line-height: 16px;
        display: block;
        cursor: pointer;
        padding-right: 20px;
    }

    .menuUL {
        position: absolute;
        z-index:1000;
        bottom: 0;
        left: 0;
        right: 0;
        top: 164px;
        background-color: hsla(41, 43%, 35%, 0.9);
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        line-height: 24vh;
    }

    .threeX {
        margin-top: -76px;
        color: #141414;
        font-size: 60px;
        line-height: 16px;
        display: block;
        cursor: pointer;
    }

}

@media screen and (max-width: 356px) {
    .social {
        width: fit-content;
        width: 100%;
        padding:20px 60px;
        background-image: url('img/repeatingBarley.jpg');
        background-size: 192px;
        background-blend-mode: multiply;
        background-color: rgb(82, 62, 25);
        border-radius: 0 0 0 40px;
        text-align: center;
    }
    
    .social > .socialUL > li{
        display: inline;
        list-style: none;
        padding: 0 6px;
        
    }
    
    .social > .socialUL > li > a > img{
        width:24px;
    }

}

















































































